<div class="container">
  <h1>All Tasks:</h1>

  <ul class="list-group">
    <% @tasks.each do |task| %>

      <li class="list-group-item p-15">

        <% if task.completed == true %>
          <i class="far fa-check-square"></i>
          <%= link_to task.title, task_path(task) %>
          <%= link_to task_path(task),
                      method: :delete,
                      data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
        <% end %>

        <% if task.completed == false %>
          <i class="far fa-square"></i>
          <%= link_to task.title, task_path(task) %>
          <%= link_to task_path(task),
                      method: :delete,
                      data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
        <% end %>

      </li>
    <% end %>
  </ul>

  <h3><i class="fas fa-plus-circle text-primary"></i><%= link_to "Add New Task", new_path %></h3>
</div>
